<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BLOG</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top">
      <div class="wrapper">
        <div class="content">
          <h2>ブログ開発の学習</h2>
          <h1><img src="/images/BLOGlogo.png" alt=""></h1>
          <p>Web開発の勉強としてnode.jsのフレームワークであるExpressとMySQLを使ってブログを構築</p>
          <a class="btn" href="/list">アクセス</a>
        </div>
        <img class="image" src="/images/背景単色1.jpeg" alt="">
      </div>
    </div>
  </body>
</html>